[General]
# Set up directory structure for outputs
# Must change folder for each parameter change as otherwise old work will be overwritten
outdir     = eridani-outputs
folder     = pos-pca-full-5-quad_limb-results-70i

[PCA-Settings]
#PCA options - method can be pca, tsvd, or full_pca
#For stars, full_pca works best and scales to larger lmax values
method      = full_pca
negative    = False
remove_y00  = False 
all_curves  = False
factor_bool = True
start_l = 1
# need to test if star_l works and also if need extra pca settings

	   
[Gen]
# Generation Parameters - lmax represents max spherical hamronic degree to use
# Functions will automatically calculate ncurves (# of eigenmaps) from lmax using (lmax+1)**2 - 1
lmax       = 5
nlcs       = 8145
nsamples   = 100


[Limb-Darkening]
#Limb Darkening Coefficients
#O if None, one value if linear, or two comma seperated coefficients if quadrartic (no spaces)
udeg = 0.4374,0.1943
#Coefficients listed above taken from Claret 2017


#should add in feature to calculate range based on input effective temperatures!
#need to redo all the sources for these in final paper vvvv
[Star]
# Mass in solar masses - have to find source for this value
m    = 0.82
# Radius in solar radii - have to find source for this value
r    = 	0.74
# Rotational period in days - have to find source for this value
prot = 	11.4
# Inclination - have to find source for this value
inc =  70.0
# Equatorial Rotation Velocity (m/s) - if set to zero, codes uses r and prot to calculate veq
# Note, code rounds value to 2 significant figures
veq  = 0
#Rotational Shear Coefficient (set to 0 as we don't want shear)
alpha = 0
