# Set up directory structure for outputs - Must change folder for each parameter change to avoid overwriting work
[General]
#Name of Overall Folder to store multiple runs
outdir     = eridani-outputs
#Name of Folder to store one specific run - Recommended to use a name based on parameters used
folder     = pos-pca-full-5-quad_limb-results-70i

[PCA-Settings]
#PCA options - Recommended to not change these settings 
#Note funcationality exists for other PCA methods, but it is not well-tested and will likely need modifications
method      = full_pca

# need to test if star_l works and also if need extra pca settings
# start_l = 1



# Generation Parameters - Used to determine number of maps and shapes of arrays	   
[Gen]
# Max spherical harmonic degree - Code will automatically calculate ncurves (# of eigenmaps) from lmax using (lmax+1)**2 - 1
lmax       = 5
# Number of points used in each light curve (lcs) & thus shape of design matrix
nlcs       = 8145



[Limb-Darkening]
#Limb Darkening Coefficients
#O if None, one value if linear, or two comma seperated coefficients if quadrartic (no spaces)
udeg = 0.4374,0.1943
#Coefficients listed above taken from Claret 2017


[Star]
# Mass in solar masses - Not used in calculation & can be ignored if desired.
#have to find source for this value
m    = 0.82
# Radius in solar radii - Used to Calculate Veq if set to 0
# have to find source for this value
r    = 	0.74
# Rotational period in days - - Used to Calculate Veq if set to 0
#have to find source for this value
prot = 	11.4
# Inclination - 
#have to find source for this value
inc =  70.0
# Equatorial Rotation Velocity (m/s) - if set to zero, codes uses 'r' and 'prot' to calculate 'veq'
# Note, code rounds value to 2 significant figures
veq  = 0
